<header>
    <form action="/search" method="post">
        <h2>Recherche pays</h2>
        <div class="group" >
            <input type="text" placeholder="Nom du pays" name="search" id="name">
        </div>
    </form>
</header>